 .loading__container {
     background: radial-gradient(50% 50% at 50% 50%, #2d3643 0%, #081126 100%);
     height: 95vh;
     padding: 5vh 5vw 0px;
 }


 .loading__logo {
     margin: auto;
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 #loading__back {
     position: fixed;
     top: 0;
     z-index: -99;
 }

 #loading__back>img {
     width: 100vw;
 }

 @media only screen and (max-width: 768px) {
    .loading__logo{
        height: 56px;
    }
 }